


<div class='main'>
 <%= render "shared/header" %>
  
  <div class='title-contents'> 
    <h2 class='service-title'>
      皆様へ
    </h2>
    <P class='aisatu'>
     <P class='aisatu'>私たち、田中英樹と山田由美は１１月２２日に籍を入れ、夫婦となりました。</P>
    <P class='aisatu'> そして、日頃の感謝の気持ちをお伝えしたくこのような場を設けさせていただきました。</P>
     <P class='aisatu'>アプリを通して、今日までの皆様との思い出や感謝を共有できればと思っております。</P>
      <P class='aisatu'>田中英樹 田中由美</P>
      </p>
  </div>


  <div class='item-contents'>
    <ul class='item-lists'>  
      <% @messages.each do |message| %>
      <li class='list'> 
        <%= link_to  message_path(message.id), method: :get do %> 
         <div class='item-img-content'> 
             <%= image_tag message.images[0], class:"images" %>  
            <% end %> 
          </div> 
      <% end %>
    </div>
       <%# </li> %>
   
<section id="location">
            <div class="wrapper">
                <div class="location-info">
                    <h3 class="sub-title">アルカンシエル青山</h3>
                    <p>
                        住所： 東京都渋谷区<br>
                        南町 1-22-1<br>
                        電話： 03-1111-1111<br>
                        受付時間： 10:00〜<br>
                        集合場所：ホール１階<br>
                    </p>
                </div><!-- /.location-info -->
                <div class="location-map">
                <div id='maps'class="maps"></div>
<script>
function initMap() {
      var mapPosition = {lat: 35.66090490300525, lng: 139.71636805615185};
      var mapArea = document.getElementById('maps');
      var mapOptions = {
        center: mapPosition,
        zoom: 18,
      };
      var map = new google.maps.Map(mapArea, mapOptions);

     
      var markerOptions = {
        map: map,
        position: mapPosition,
      };
      var marker = new google.maps.Marker(markerOptions);
   
    }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKK2J9duVi8KFNSvwx0OsMPgH6Tj21ttM&callback=initMap" async defer></script>
        </section>
 </div>
</div>











 