a {
  text-decoration: none;
}

.main {
  background: linear-gradient(-50deg, #ffe1d0, #fdaf6e);
  overflow: hidden;
}

.title-contents {
  width: 100vw;
  background-image: image-url("kuma.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 7vh 15vw;
  color: #fff;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.service-title {
  font-size: 5vh;
  padding-top: 5px;
}

.aisatu {
  font-size: 2.7vh;
  line-height: 40px;
}

// 投稿画像

.item-contents {
  background-color: linear-gradient(-50deg, #ffe1d0, #fdaf6e);
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3%;
  margin-bottom: 3px;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.item-lists > .list {
  width: 37vh;
  background-color: linear-gradient(-50deg, #ffe1d0, #fdaf6e);
}

.item-img-content {
  position: relative;
}

.images {
  height: 200px;
  width: 200px;
  border: 8px groove;
  border-color: #660033;
  margin: 3px;
}

// 地図情報

.wrapper {
  max-width: 100vw;
  margin: 20px auto;
  padding: 0 7%;
}

.sub-title {
  font-size: 1.375rem;
  padding: 0 10px 10px;
  border-bottom: 2px #660033 solid;
  font-weight: normal;
}

#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 24%;
}

.location-info p {
  padding: 12px 15px;
}

.location-map {
  width: 74%;
}

.maps {
  height: 300px;
  margin-bottom: 10px auto;
  overflow: hidden;
}
