/* 商品の概要 */

.item-show {
  background: linear-gradient(-50deg, #ffe1d0, #fdaf6e);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.item-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  min-height: 100%;
  min-width: 1000px;
  padding: 10vh 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item-box > .name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #660033;
  object-fit: contain;
}

/* 編集ボタン */
.item-red-btn {
  text-align: center;
  background-color: #ffe1d0;
  font-size: 24px;
  font-weight: bold;
  color: #660033;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
  border: 1px solid #660033;
}

.or-text {
  font-size: 20px;
}

/* 削除ボタン */
.item-destroy {
  background-color: #660033;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 100px;
  border: 1px solid #660033;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #ffe1d0;
  border: 3px solid #660033;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 2px solid #660033;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 97%,
    #ddd 20%
  );
  background-size: 100% 2em;
  line-height: 2;
  margin: 5vh 0;

  text-align: center;
}

.comment-text {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100px;
  padding: 15px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

/* コメントボタン */
.comment-btn {
  line-height: 48px;
  background-color: #ffe1d0;
  border: 1px solid #660033;
  color: #660033;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3ccace;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3ccace;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
